In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import json
import requests
import time
import datetime

In [99]:
# &api_key=xxxxxxxxxxxxxxxxxxxxxxxx

In [3]:
# url = "https://api.data.gov/ed/collegescorecard/v1/schools.json?fields=2013.earnings.6_yrs_after_entry.\
# working_not_enrolled.mean_earnings&per_page=100&api_key=xxxxxxxxxxxxxxxxxxxxxxxxx"

In [4]:
# url = "https://api.data.gov/ed/collegescorecard/v1/schools.json?school.degrees_awarded.predominant=3\
# &fields=2013.earnings.6_yrs_after_entry.\
# working_not_enrolled.mean_earnings&per_page=100&api_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

In [6]:
# Selecting page no
# page=0
# url = "https://api.data.gov/ed/collegescorecard/v1/schools.json?school.institutional_characteristics.level=1&\
# school.degrees_awarded.predominant=3\
# &fields=school.name,2014.earnings.6_yrs_after_entry.\
# working_not_enrolled.mean_earnings&page&per_page=100&api_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

In [100]:
url = "https://api.data.gov/ed/collegescorecard/v1/schools.json?school.institutional_characteristics.level=1&\
school.degrees_awarded.predominant=3\
&fields=school.name,2014.earnings.6_yrs_after_entry.\
working_not_enrolled.mean_earnings&api_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

In [101]:
print(requests.get(url))

<Response [200]>

In [8]:
# print(requests.get(url).json())

In [102]:
# Pretty Print the output of the JSON
response = requests.get(url).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "metadata": {
        "page": 0,
        "per_page": 20,
        "total": 2095
    },
    "results": [
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Criswell College"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": 69800,
            "school.name": "Chamberlain University-Georgia"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": 32500,
            "school.name": "South University-Cleveland"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Colorado State University-Global Campus"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": 43000,
            "school.name": "Warner Pacific University Professional and Graduate Studies"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Yeshiva Gedolah Zichron Leyma"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": 34200,
            "school.name": "University of Phoenix-Arkansas"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": 34200,
            "school.name": "University of Phoenix-Florida"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": 34200,
            "school.name": "University of Phoenix-Michigan"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": 34200,
            "school.name": "University of Phoenix-Oklahoma"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": 71900,
            "school.name": "West Coast University-Miami"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": 34200,
            "school.name": "University of Phoenix-Virginia"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Presbyterian Theological Seminary in America"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Mechon L'hoyroa"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Purdue University Northwest"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Catholic Distance University"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Antioch College"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "California Jazz Conservatory"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Chamberlain University-Nevada"
        },
        {
            "2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings": null,
            "school.name": "Hussian College-Relativity Campus California"
        }
    ]
}

In [103]:
response.keys()

dict_keys(['metadata', 'results'])

In [104]:
for key in response.keys():
    print(key)
    value = response[key]
    print(type(value))
    print('\n\n')

metadata
<class 'dict'>



results
<class 'list'>

In [105]:
response['metadata']

{'total': 2095, 'page': 0, 'per_page': 20}

In [106]:
response['results']

[{'school.name': 'Criswell College',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': 'Chamberlain University-Georgia',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': 69800},
 {'school.name': 'South University-Cleveland',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': 32500},
 {'school.name': 'Colorado State University-Global Campus',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': 'Warner Pacific University Professional and Graduate Studies',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': 43000},
 {'school.name': 'Yeshiva Gedolah Zichron Leyma',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': 'University of Phoenix-Arkansas',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': 34200},
 {'school.name': 'University of Phoenix-Florida',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': 34200},
 {'school.name': 'University of Phoenix-Michigan',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': 34200},
 {'school.name': 'University of Phoenix-Oklahoma',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': 34200},
 {'school.name': 'West Coast University-Miami',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': 71900},
 {'school.name': 'University of Phoenix-Virginia',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': 34200},
 {'school.name': 'Presbyterian Theological Seminary in America',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': "Mechon L'hoyroa",
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': 'Purdue University Northwest',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': 'Catholic Distance University',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': 'Antioch College',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': 'California Jazz Conservatory',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': 'Chamberlain University-Nevada',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None},
 {'school.name': 'Hussian College-Relativity Campus California',
  '2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings': None}]

In [107]:
response['results'][2]['school.name']

'South University-Cleveland'

In [108]:
response['results'][2]['2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings']

32500

In [109]:
df = pd.DataFrame.from_dict(response['results'])
df.head()

,2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings,school.name
0,NaN,Criswell College
1,69800.0,Chamberlain University-Georgia
2,32500.0,South University-Cleveland
3,NaN,Colorado State University-Global Campus
4,43000.0,Warner Pacific University Professional and Gra...

In [113]:
def get_and_print_data(url):
        r = requests.get(url)
        info = r.json()
        for i in info['results']:
                print(i['school.name'])
                print(i['2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings'])
        if info.get('next'):
                get_and_print_data(info['next'])

get_and_print_data(url)

Criswell College
None
Chamberlain University-Georgia
69800
South University-Cleveland
32500
Colorado State University-Global Campus
None
Warner Pacific University Professional and Graduate Studies
43000
Yeshiva Gedolah Zichron Leyma
None
University of Phoenix-Arkansas
34200
University of Phoenix-Florida
34200
University of Phoenix-Michigan
34200
University of Phoenix-Oklahoma
34200
West Coast University-Miami
71900
University of Phoenix-Virginia
34200
Presbyterian Theological Seminary in America
None
Mechon L'hoyroa
None
Purdue University Northwest
None
Catholic Distance University
None
Antioch College
None
California Jazz Conservatory
None
Chamberlain University-Nevada
None
Hussian College-Relativity Campus California
None

## How to Iterate through data pages?

In [87]:
# z = round((response['metadata']['total'])/100)
# z

In [86]:
# pages = list(range(1, z+1))
# pages

In [85]:
# len(pages)

In [62]:
# pages = [0]

# count = 0

# for page in pages:
    
#     page = page + 1
#     pages.append(page)
    
#     if count >=z-2:
#         break
        
#     count +=1

In [63]:
# len(pages)

In [64]:
# pages

In [84]:
# school_data_2014 = []

# count = 0


# print("Beginning Data Retrieval")
# print("-------------------------------")

# for page in pages:
#         response = requests.get(url).json()
#         school_data_2014.append({'School Name' : response['results'][0]['school.name'],
#                                  'Earnings 6 yrs after College' : response['results'][0]\
#                                  ['2014.earnings.6_yrs_after_entry.working_not_enrolled.mean_earnings']})
                                                 
    
#         print("Processing Record", count, "page" ' | ' , page)
    
#         count +=1
    
# print("-------------------------------")
# print("Data Retrieval Complete")
# print("-------------------------------")

In [83]:
# school_data_2014

In [82]:
# school_data_2014_df = pd.DataFrame(school_data_2014)
# school_data_2014_df.head()